<table summary="user form fields">
  <div class="form-group">
  <tr>
    <td colspan = '2'><%= f.text_field(:name, :placeholder => "Name" , :class => "form-control") %></td>
  </tr>
  </div>
  <div class="form-group">
  <tr>
    <td colspan = '2'><%= f.text_field(:username, :placeholder => "username" , :class => "form-control") %></td>
  </tr>
  </div>
  <div class="form-group">
  <tr>
    <td colspan = '2'><%= f.password_field(:password, :placeholder => "password" , :class => "form-control") %></td>
  </tr>
  <div class="form-group">
  <tr>
    <td colspan = '2'><%= f.text_field(:email, :placeholder => "email" , :class => "form-control") %></td>
  </tr>
  </div>
</table> 