<% @page_title = "Edit" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="users new">
  <h2>Edit Users</h2>

  <%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update User") %>
    </div>

  <% end %>
</div>
