<% @page_title = "New" %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="Users new">
  <h2>Create User</h2>

  <%= form_for(@user, :url => {:action => 'create'}, :html =>{:role => "form"}) do |f| %>
  	<fieldset>

	    <%= render(:partial => "form", :locals => {:f => f}) %>

	    <div class="form-buttons">
	      <%= submit_tag("Create User") %>
	    </div>
	</fieldset>
  <% end %>
</div>
