<table summary="user form fields">
  <div class="form-group">
  <tr>
    <td colspan = '2'><%= f.text_field(:name, :placeholder => "Name" , :class => "form-control") %></td>
  </tr>
  </div>
  <div class="form-group">
  <tr>
    <td colspan = '2'><%= f.text_field(:about, :placeholder => "about quiz" , :class => "form-control") %></td>
  </tr>
  </div>
</table> 