<% @page_title = "User Menu" %>

<div class="menu">
  <h2>Welcome! Test how much you knwo Rails with QuizMe</h2>
  <p/>
  <p/>
  <p/>
  <br/>
  <p align="center">QuizMe is a place you can test how much you know rails application</p>
  <p><b></b></p>
  <ul>
    <li><%= link_to("Take a Quiz", :controller => 'quiz') %></li>
    <li><%= link_to("View your quiz Result", :controller => 'quiz', :action => "view") %></li>
    
  </ul>
</div>
